:root {
    --main-color: #0e0b2b;
    --secondary-color: #b2a187;
    --dark-color: #080823;
    --light-color: #F8F8F8;
    --spacing: 8px;
    --spacing-medium: calc(var(--spacing) * 2);
    --spacing-large: calc(var(--spacing)* 4);
    --game-board-size: 560px;
    --game-img-size: 70px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background-image: url('./images/bg_gameboard.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}